<div *ngIf="carouselProdutos.length > 0; else noProdutos" id="carouselProdutos" class="carousel slide" data-bs-interval="3000" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Exibição dinâmica dos produtos individuais -->
        <div *ngFor="let produto of carouselProdutos; let i = index" class="carousel-item" [class.active]="i === 0">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="card text-center">
                        <img [src]="produto.imagem" class="card-img-top" [alt]="produto.nome">
                        <div class="card-body">
                            <h5 class="card-title">{{ produto.nome }}</h5>
                            <p class="preco fs-4 text-success">{{ produto.preco }}</p>
                            <a [routerLink]="['/detalhes', produto.id]" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controle dos slides anterior e posterior -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProdutos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselProdutos" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>

<ng-template #noProdutos>
    <p class="text-center">Nenhum produto disponível no momento.</p>
</ng-template>