<ng-container *ngIf="{
    items: items$ | async,
    loading: loading$ | async,
    isOpen: isCartOpen$ | async,
    total: (total$ | async) || 0
  } as data">
  <!-- Carrinho -->
  <div class="cart-sidebar" [class.show]="data.isOpen">
    <button class="close-btn" (click)="cartService.toggleCart()">X</button>
    <h4>Carrinho de Compras</h4>

    <!-- Conteúdo -->
    <ng-container>
      <div *ngIf="!data.items?.length" class="empty-cart"> 
        Carrinho vazio <!-- Carrinho vazio -->
      </div>

      <ul *ngIf="data.items?.length" class="list-group">
        <li *ngFor="let item of data.items" class="list-group-item">
          <div class="item-row">
            <div style="display: flex; justify-content: space-between;">
              <span class="item-name">{{ item.nome }}</span>
              <span class="item-preco">{{ item.preco }}</span>
            </div>
            <div class="quantity-control" style="margin-top: 5px;">
              <button 
                class="quantity-controller"
                (click)="updateQuantidade(item.id, item.quantidade - 1)"
                [disabled]="item.quantidade <= 1">-</button>
              <input #quantityInput 
                class="quantity-input" 
                type="number" 
                (change)="updateQuantidade(item.id, quantityInput.value)" 
                [value]="item.quantidade" 
                min="1" 
                step="1">   
              <button 
                class="quantity-controller" 
                (click)="updateQuantidade(item.id, item.quantidade + 1)"
                [disabled]="(cartService.loading$ | async)">+</button>
              <button class="remove-item" (click)="removeProduto(item.id)"> Remover </button>
            </div>
          </div>
        </li>
      </ul> 

      <!-- Botão de Finalizar -->
      <div>
        <div class="linha-horizontal"></div>
        <button 
          class="btn-finalizar" 
          (click)="cartService.finalizeOrder()"
          [disabled]="!data.items?.length">
        Finalizar Compra</button>
        <div class="preco-total">
          <strong>Total:</strong> {{ data.total | currency:'BRL' }}
        </div>
    </div>

    </ng-container>
  </div>
</ng-container>