ul.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    background-color: #1e22259c;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #12161a;}

ul.topnav li a.active {background-color: #04AA6D;}
ul.topnav li a:hover.active {background-color: #03744a; }

ul.topnav li.right {float: right;}

/*Botão do carrinho de compras*/
.navbar .btn-warning {
    align-self: right;
    margin-left: 10px;
}

.badge {
    font-size: 15px;
    border-radius: 40px;
    margin-top: 5px;
    padding: 0.25em 0.4em;
}

@media (max-width: 576px) { /* Aplica a regra em telas menores que 576px (celulares) */
    .cart-text { display: none; }  /* Esconde o texto "Carrinho" */
    .cart-icon { display: inline !important; } /* Exibe só o ícone */
}
@media (min-width: 577px) { /* Para telas maiores, mostra tudo normalmente */
    .cart-text { display: inline; }
    .cart-icon { display: none !important; }
}

