<!--ROUTER DE PÁGINAS-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <img class="logo" src="http://i.imgur.com/hCrQkJi.png" alt="sample">
            <ul class="topnav">
                <li style="float: right"><a class="active" href="/cadastro" routerLink="cadastro">Cadastro</a></li> <!--Transformar em Login-->
                <li><a href="/mainPage" routerLink="mainPage">Menu</a></li>
                <li><a href="contact.asp">PlaceHolder</a></li>
                <li><a href="about.asp">PlaceHolder</a></li>
            </ul>
        </nav>
    </body>
</html>
<router-outlet></router-outlet>
