ul.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    background-color: #1e22259c;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #12161a;}

ul.topnav li a.active {background-color: #04AA6D;}
ul.topnav li a:hover.active {background-color: #03744a; }

ul.topnav li.right {float: right;}

.navbar .btn-warning {
    margin-left: 10px;
}

.badge {
    font-size: 0.8rem;
    padding: 5px;
}
