<!--ROUTER DE PÁGINAS-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/mainPage">
            <img class="d-inline-block" src="assets/images/logo.png" alt="logo" style="width:50px;">
            Omask!
        </a>
     
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto topnav">
                <li class="nav-item" style="float: right;"><a class="nav-link active" href="/login" routerLink="login">Login</a></li> <!--Transformar em Login-->
                <li class="nav-item"><a class="nav-link" href="/mainPage" routerLink="mainPage">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.asp">PlaceHolder</a></li>
                <li class="nav-item"><a class="nav-link" href="about.asp">PlaceHolder</a></li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <!--Barra de Pesquisa-->
            <input class="form-control me-2" type="text" placeholder="Search">
            <button class="btn btn-primary" type="button">Search</button>
            <!--Botão do Carrinho de Compras-->
            <button class="btn btn-warning position-relative p-2 cart-btn" (click)="cartService.toggleCart()">
                <span class="cart-text">🛒 Carrinho</span>
                <span class="cart-icon d-none">🛒</span>
                <span *ngIf="cartService.getTotalItems() > 0" 
                    class="badge bg-danger position-absolute top-0 start-100 translate-middle">
                    {{ cartService.getTotalItems() }}
                </span>
            </button>
             
        </div>
    </div>
</nav>
<app-cart></app-cart> <!--Componente do Carrinho de Compras-->
<router-outlet></router-outlet>
