.linha-vertical { /* TODO: ver por que o height auto não funciona*/
    width: 2px; 
    height: 256px; 
    background-color: #5e5e5e; 
    margin: 0 auto; 
}

img {
    max-width: 100%;
    height: auto;
  }

h1 {
    font-size: 2rem; /* Ajusta o tamanho do título */
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem; /* Ajusta o tamanho do texto */
    line-height: 1.5; /* Melhora o espaçamento entre linhas */
}

button {
    font-size: 1.2rem; /* Aumenta o tamanho do botão */
    padding: 0.5rem 1.5rem; /* Ajusta o espaçamento interno do botão */
}

@media (max-width: 768px) {
    img {
        max-width: 100%; /* Ajusta a largura máxima para 100% da tela */
        max-height: 300px; /* Ajusta a altura máxima para 300px */
    }
}