.pt-5 {
    margin-top: 100px;
}

.small {
    width: 400px;
    height: auto;
    margin: 100px auto;
    background-color: #d0deeb;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}   

form{
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left; /* Alinha os rótulos à esquerda */
}

form input[type="email"],
form input[type="password"] {
    width: 100%; /* Faz os campos ocuparem toda a largura */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não ultrapasse a largura */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 60px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #007bff; /* Azul para links */
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}