<div class="container pt-5 small">
    <h1 class="text-center">Login</h1>
    <form>
        <fieldset>
            <label for="emailLogin"> Email: </label>
            <input id="emailLogin" type="email" autocomplete="one-time-code" required>

            <label for="senhaLogin"> Senha: </label>
            <input id="senhaLogin" type="password" autocomplete="one-time-code" required>

            <input id="submitLogin" type="submit" value="Acessar"> <br>

            <a class="active" routerLink="/cadastro">Não tem cadastro? Clique aqui</a> <br>
            <a href="#">Esqueci a senha</a> 
        </fieldset>
    </form>
</div>
