<div class="container pt-5 small">
    <h1 class="text-center">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div *ngIf="loginError" class="box-error">
            Email ou senha incorretos
        </div>

        <label for="emailLogin" [class.error]="loginError">Email:</label>
        <input
          id="emailLogin"
          type="email"
          formControlName="emailLogin"
          autocomplete="username"
          [class.has-error]="loginError"
          (input)="resetLoginError()"
          required
        >
        
        <label for="senhaLogin" [class.error]="loginError">Senha:</label>
        <input
          id="senhaLogin"
          type="password"
          formControlName="senhaLogin"
          autocomplete="current-password"
          [class.has-error]="loginError"
          (input)="resetLoginError()"
          required
        >
  
      <button type="submit">Acessar</button> <br>
      <a routerLink="/cadastro">Não tem cadastro? Clique aqui</a> <br>
      <a routerLink="/login" (click)="resetSenha()">Esqueci a senha</a> <!-- TODO: Implementar funcionalidade -->
  
    </form>
  </div>
  