.small {
    width: 400px;
    height: auto;
    margin: 100px auto;
    background-color: #dddddd;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}   

.box-error {
    background-color: #ff9999;
    text-align: center;
    align-content: center;
    margin-right: 100px;
    width: 100%;
    height: 50px;
    
}

.error {
    color: rgb(255, 0, 0);
    font-size: 1em;
    margin-top: 5px;
}

.has-error, 
.has-error:-webkit-autofill,
.has-error:-webkit-autofill:hover, 
.has-error:-webkit-autofill:focus,
.has-error:-webkit-autofill:active {
    border-color: red !important;
    background-color: rgb(250, 215, 215) !important;
    -webkit-box-shadow: 0 0 0 1000px #ffdddd inset !important;
    -webkit-text-fill-color: #333 !important;
    caret-color: #333; /* Cor do cursor */
}

form{
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left; /* Alinha os rótulos à esquerda */
}

form input[type="email"],
form input[type="password"] {
    width: 100%; /* Faz os campos ocuparem toda a largura */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não ultrapasse a largura */
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 60px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #007bff; /* Azul para links */
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    transition: background-color 9999s ease-in-out 0s !important;
}