input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="documento"],
select,
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-top: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-top: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    background-color: #f4f4f4; 
}

.container { 
    background-color: #d0deeb;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 600px; 
}

.form-group { 
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: baseline;
}

.input-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.input-wrapper.small { 
    flex-grow: 0;
    width: 120px;
}

.input-wrapper.smaller{ 
    flex-grow: 0;
    width: 60px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  input.ng-invalid.ng-touched,
  select.ng-invalid.ng-touched {
    border-color: red;
    background-color: rgb(250, 215, 215);
  }
  
  input.ng-valid.ng-touched,
  select.ng-valid.ng-touched {
    border-color: green;
  }

