<div class="container-fluid pt-5">
    <h1 class="mb-4 text-center">Em Destaque</h1>
    <!-- Passa o array bidimensional para o Carousel -->
    <app-carousel></app-carousel>
</div>
<br> <br>
<div class="container">
    <h1 class="mb-4 text-center">Mais Produtos</h1>
    <!-- Itera sobre o array bidimensional -->
    <div class="row">
        <div class="col-md-3" *ngFor="let produto of produtos">
            <!-- Exibe os produtos em cards -->
            <div class="card produto">
                <img [src]="produto.imagem" class="card-img-top" [alt]="produto.nome">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="preco text-success">{{ produto.preco }}</p>
                    <a [routerLink]="['/detalhes', produto.id]" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>